[phases.setup]
nixPkgs = ["nodejs_20", "python3"]

[phases.install]
cmds = [
  "npm ci --include=dev",
  "cd frontend && npm ci --include=dev",
  "cd backend && npm ci"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"
